
nav{
    background-color: #126bda;
}
.logo{
    width: 10%;
   
}

.materia{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  
}
/* .logo2{
    width: 50vh;
    height: 50vh;
} */


.btnMat{
    background-color: #FF0000;
    width: 15vh;
    height: 10vh;
    margin: 10vh;
    color: white;
   
}

.btnPor{
    background-color: #0088FF;
    width: 15vh;
    height: 10vh;
    margin: 10vh;
    color: white;
}

.btnHis{
    background-color: #EBBE00;
    width: 15vh;
    height: 10vh;
    margin: 10vh;
    color: white;
}

.meio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnCie{
    background-color: #00CC00;
    width: 15vh;
    height: 10vh;
    margin: 10vh;
    color: white;
}

.btnGeo{ 
    background-color: #E75502;
    width: 15vh;
    height: 10vh;
    margin: 10vh;
    color: white;
}

.btnIn{
    background-color: #CC00FF;
    width: 15vh;
    height: 10vh;
    margin: 10vh;
    color: white;
}

