#enunciadoDiv{
    top:0;
    margin:30px;
    display:flex;
    justify-content: center;
}
#enunciado{
    width:40%;
    height:auto;
    font-size: 40px;
    border:transparent;
    text-align: center;
    background-color: transparent;
}
#alternativasDiv{
    display: flex;
    padding-top: 80px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.alternativa{
    width: auto;
    margin:30px;
    height:auto;
    padding:10px;
    font-size: 20px;
    border:transparent;
}
#divButtonCriar{
    display: flex;
    margin-top:4%;
    margin-right: 10%;
    justify-content: end;
}
#criarButton{
    width:auto;
    height:auto;
    padding:10px;
    color: white;
    font-size: 20px;
    border:transparent;
    background-color: #126bda;
}