*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#paisMain{
    height:100%;
}
.logo{
    width: 30%;
}
.container_cadastro_pais{
    display:flex;
    padding-top: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(backgroundImage.jpg);
    height:100%;
    background-size:cover;
}
.container_cadastro_pais span{
    font-size: 40px;
}
.email_password{
    display: flex;
    padding-top: 2%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.email_password .input{
    width: 300px;
    height: 12%;
    font-size: 30px;
}
.btn_cad{
    padding-top: 3%;
}
.btn{
    width: 200px;
    height: 10%;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #6466D1;
}
.rede_login{
    gap: 2%;
    display:flex;
    padding-top: 2%;
    align-items: center;
    justify-content: center;
}
.logo_social{
    width: 3%;
    height: 3%;
}