*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.logo{
    width: 30%;
}
.container_cadastro_pais{
    /* gap: 2%; */
    display:flex;
    padding-top: 3vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.email_password{
    display: flex;
    padding-top: 2%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.input{
    width:43vh;
    height: 5vh;
}
.btn_cad{
    padding-top: 3%;
}
.btn{
    width: 12vh;
    height: 7vh;
    color: #FFFFFF;
    background-color: #6466D1;
}
.rede_login{
    gap: 2%;
    display:flex;
    padding-top: 2%;
    align-items: center;
    justify-content: center;
}
.logo_social{
    width: 3%;
    height: 3%;
}