*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.logo{
    width: 30%;
    cursor: pointer;
}
.container_login{
    display:flex;
    padding-top: 8vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.title{
    font-size:30px;
    font-weight: bold;
}
.email_password{
    display: flex;
    padding-top: 2%;
    margin-bottom:20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.input{
    width:43px;
    margin:5px;
    height: 5px;
    padding:10px;
    font-size:15px;
}
 .check_btn{
     gap: 10vh;
     display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox-label{
    font-size:17px;
    font-weight: bold;
}
.checkbox-label input{
    margin:10px;
}
.check_btn a{
    color:blue;
    font-size:17px;
    font-weight: bold;
}
.btn_cad_log{
    padding-top: 3%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.btn{
    width: 12vh;
    height: 7vh;
    margin: 20px;
    font-size:15px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 50px;
    background-color: #6466D1;
}
.rede_login{
    gap: 2%;
    display:flex;
    padding-top: 2%;
    align-items: center;
    justify-content: center;
}
.logo_social{
    width: 3%;
    height: 3%;
}