*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#root{
  height:100%
}
.container_login{
    display:flex;
    padding-top: 80px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(backgroundImage.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.title{
    font-size:30px;
    font-weight: bold;
}
.email_password{
    display: flex;
    padding-top: 2%;
    margin-bottom:20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.input{
    width:43px;
    margin:5px;
    height: 5px;
    padding:10px;
    font-size:15px;
}
 .check_btn{
     gap: 10vh;
     display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox-label{
    font-size:20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.checkbox-label input{
    margin:10px;
}
.check_btn a{
    color:blue;
    font-size:17px;
    font-weight: bold;
}
.btn_cad_log{
    padding-top: 3%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.btn_cad_log .btn{
    width: 150px;
    height: 90%;
    margin: 20px;
    font-size:15px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 50px;
    background-color: #6466D1;
}
.rede_login{
    gap: 2%;
    display:flex;
    padding-top: 2%;
    align-items: center;
    justify-content: center;
}
.logo_social{
    width: 3%;
    height: 3%;
}

/* Apply styles to the entire form */
#test {
    margin: auto;
    max-width: 25%;
  }
  /* Style input fields */
  .entrada {
    width: 100%;
    padding: 10px;
    border: 2px solid #000000;
  }
  /* Style error messages in red */
  .error {
    color: rgb(255, 255, 255);
  }
  /* Style individual email or password requirements list items */
  li.email-requirement, li.password-requirement {
    transition: color 0.2s;
  }
  /* Style invalid email or password requirements in red */
  li.email-requirement.invalid, li.password-requirement.invalid {
    color: rgb(255, 255, 255);
  }
  /* Style valid email or password requirements in green */
  li.email-requirement.valid, li.password-requirement.valid {
    color: rgb(0, 255, 0);
  }

  .divEmail{
    width:100%;
    margin-bottom: 20px;
  }
  #esqSenha{
    background-color: transparent;
    border:none;
    font-size: 20px;
    color:#126bda;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }