
.cabeçalho{
    background-color: #126bda;
}
.logo{
    width: 10%;
    cursor: pointer; 
   
}

.texto_questão{
    display: flex;
    padding-top: 2vh;
    justify-content: center;
    align-items: center;
}

.input_questao{
    width: 70vh;
    height: 20vh;
    font-size: 30px;
    text-align: center;
}

.select_materia_m{
    padding-top:3vh ;
    display: flex;
    justify-content: center;
    gap: 1vh;
}

input[type="radio"] {
    width: 100px;
    height: 50px;
    border-radius: 0px;

    
  }