.bigone{
  gap: 10px;
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #126BDA;
  justify-content: space-between;
}
.carousel {
  width: 100%;
  height: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
#images{
  width: 90%;
  height: 95%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.component{
  width: 500px;
  height: 100%;
  padding: 10px;
}
.btnCarousel {
  border: none;
  color:white;
  outline: none;
  margin: 0 20px;
  cursor: pointer;
  font-size: 40px;
  background: none;
}
.carouselPictures {
  width: 100%;
  height: 100%;
}
.textCarousel{
  color:white;
  font-size: 40px;
}